@charset "UTF-8";

body{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: bold;
}

h1{
	font-size: 24px;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 65px;
	margin-bottom: 20px;
	height: 60px;
	background-color: rgb(0, 0, 0);
	color: #fff;
	box-shadow: 0px 2px 2px #1111;
	font-size: 20px;
}
em{
	color:  #c1ff72;
}
#conteudo{
	padding: 0px 8px;
}


footer{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	background-color: #c1ff72;
	color: #222;
}

.grid-login{
	margin: auto;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 400px;
	height: 400px;
	background-color: #000;
	border-radius: 8px;
	padding-right: 15px;
	padding-bottom: 20px;
	color: #fff;
}

.ui-datalist ul {
        padding: 0px 10px 0 20px;
        margin: 5px 0;
    }
 
    .ui-datalist {
        margin-bottom: 10px
    }
 
    .ui-noborder tr.ui-widget-content {
        background: none;
    }

.rotulo{
	width: 150px;
}
.btn_login{
	background-color: #ccc;
	font-size: 20px;
	margin-top: 1.5rem;
}